<div class="row">
    <div class="col-8">
        <div class="card card-default">
            <div class="card-header">Messages</div>
            <div class="card-body p-0">
                <ul class="list-unstyled" style="height:300px; overflow-y:scroll" v-chat-scroll>
                    <li class="p-2" v-for="(message,index) in allMessages" :key="index">
                        <strong>{{message.user.name}}</strong>
                        {{message.message}}
                    </li>
                </ul>
            </div>

            <label>
                <input
                    @keyup.enter="saveMessage"
                    @keydown="getTypingEvent"
                    v-model="newMessage"
                    type="text"
                    required
                    name="message"
                    placeholder="Enter your message..."
                    class="form-control">
            </label>
        </div>
        <span class="text-muted" v-if="typingUser">{{typingUser.name}} is typing...</span>
    </div>

    <div class="col-4">
        <div class="card card-default">
            <div class="card-header">Active Users</div>
            <div class="card-body">
                <ul>
                    <li class="py-2" v-for="(user,index) in users" :key="index">
                        {{user.name}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
